@import './contextmenu.css'

html, body
  margin 0
  width 100%
  height 100%

body
  font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif

*
  box-sizing border-box

.top
  padding 10px
  border-bottom 1px solid gray
  height 55px

h1, h2, h3
  margin 0
  margin-right 10px
  display inline-block

.info-text
  color rgba(0,0,0,0.5)

.newsletter-btn-help
  float right

button
  appearance none
  border none
  background none
  font-family inherit
  border 1px solid gray
  border-radius 2px
  cursor pointer

button.newsletter-btn
  float right
  margin-left 10px

#upload
  display none

.show-dropzone
  position relative

.show-dropzone:after
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  border 2px dashed gray
  color gray
  box-sizing border-box
  content 'Drop to move image'

.featured
  width 100%
  height 275px
  overflow-x auto
  overflow-y hidden
  white-space nowrap
  background white
  padding 20px

  box-shadow 0 2px 1px rgba(0,0,0,0.1)

  &.sticky
    position fixed
    top 0
    z-index 1
    & + .unfeatured
      padding-top 250px

  .thumbs
    padding 5px 0

  .thumb
    display table-cell
    vertical-align middle

.unfeatured
  width 100%
  white-space normal
  padding 20px

.featured, .unfeatured
  transition all ease 400ms

.thumb
  height 160px
  display inline-block
  position relative

  img
    display block
    max-height 160px
    padding 0 10px
    cursor pointer
    margin 0 auto

  .title
    text-align center

  .title, .caption
    padding 0 10px

.hide
  display none

.mode__newsletter
  .featured, .unfeatured
    opacity 0
    height 0

.mode__photos
  .newsletter
    opacity 0
    height 0
    margin-top 0

.newsletter
  transition all ease 400ms
  margin-top 100px

.newsletter-list
  list-style-type none
  width 80%
  max-width 800px
  margin 0 auto
  padding 0

  border 1px solid rgba(0,0,0,0.2)
  border-radius 2px

  p
    margin 0
    padding 10px
    color gray
    border-bottom 1px solid rgba(0,0,0,0.2)
    i
      padding 0 4px

.newsletter-item
  width 100%
  padding 5px 2px
  border-bottom 1px solid rgba(0,0,0,0.2)

  .filename, .date, .download-btn, .delete-btn, .fa-file-pdf-o
    display table-cell

  .filename, .date
    width 50%

  .download-btn, .delete-btn, .fa-file-pdf-o
    width 50px

  .filename
    margin-left 10px

  .date
    margin-right 10px

  .download-btn
    margin-right 10px

  .download-btn, .delete-btn
    cursor pointer

  .fa.fa-file-pdf-o, .download-btn, .delete-btn
    padding 5px

@media all and (max-width: 760px)
  .top
    height 100px
    h2
      display inline-table
      clear both
      width 100%
