doctype html

html
  head
    title Newport Academy Admin Interface

    meta(name='viewport', value='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', type='text/css', href='main.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

  body
    .top
      .block
        h2 Newport Academy
      .block
        button.logout Logout

    .main
      .featured
        .title
          h3 Featured Images
        .thumbs
          .thumb
            img(src='//placehold.it/350x150')
          .thumb
            img(src='//placehold.it/350x150')
          .thumb
            img(src='//placehold.it/350x150')
      .unfeatured
        .thumb
          img(src='//placehold.it/350x150')
        .thumb
          img(src='//placehold.it/350x150')
        .thumb
          img(src='//placehold.it/350x150')
        .thumb
          img(src='//placehold.it/350x150')
        .thumb
          img(src='//placehold.it/350x150')
        .thumb
          img(src='//placehold.it/350x150')
        .thumb
          img(src='//placehold.it/350x150')
        .thumb
          img(src='//placehold.it/350x150')

    script(type='text/javascript', src='main.js')
