doctype html

html
  head
    title Newport Academy Admin Interface

    meta(name='viewport', value='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', type='text/css', href='main.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

  body
    .top
      h2 Newport Academy
      span Upload new images by
      button.upload Clicking Here
      button.logout Logout

    .main
      .featured
        .title
          h3 Featured Images
          span Click or drag to interchange with unfeatured images
        .thumbs
          .thumb
            img(src='https://s3.amazonaws.com/newport-academy/photos/IMG_3819.JPG')
          .thumb
            img(src='//placehold.it/350x150?0')
          .thumb
            img(src='//placehold.it/350x150?1')
      .unfeatured
        .thumb
          img(src='//placehold.it/350x150?2')
        .thumb
          img(src='//placehold.it/350x150?3')
        .thumb
          img(src='//placehold.it/350x150?4')
        .thumb
          img(src='//placehold.it/350x150?5')
        .thumb
          img(src='//placehold.it/350x150?6')
        .thumb
          img(src='//placehold.it/350x150?7')
        .thumb
          img(src='//placehold.it/350x150?8')
        .thumb
          img(src='//placehold.it/350x150?9')

    script(type='text/javascript', src='//api.filepicker.io/v2/filepicker.js')
    script(type='text/javascript', src='main.js')
