doctype html

html
  head
    title Newport Academy Admin Interface

    meta(name='viewport', value='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', type='text/css', href='main.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

  body
    .top
      h2 Newport Academy
      span Upload new images by
      button.upload Clicking Here
      input#upload.hidden(type='file')

    .main
      .featured
        .title
          h3 Featured Images
          span Click or drag to interchange with unfeatured images, right click to delete
        .thumbs
          .thumb
            img(src='//placehold.it/350x150?0')
          .thumb
            img(src='//placehold.it/350x150?1')
      .unfeatured
        .thumb
          img(src='//placehold.it/350x150?8')
        .thumb
          img(src='//placehold.it/350x150?9')

    script(type='text/javascript', src='main.js')
